.terminal {
  position: relative;
  background-color: #070707;
  color: #c6c6c6;
  width: 100%;
  height: 100%;

  --prompt-bar-height: 3rem;
}

.terminal * {
  font-family: inherit;
}

.outputText {
  border: solid 1px lime;
}

.outputErr {
  border: solid 1px maroon;
}

.promptBar {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
  height: var(--prompt-bar-height);
}

.history {
  height: 14rem;
  padding-bottom: calc(var(--prompt-bar-height) + 0.5rem);
  overflow: scroll;
}
