.terminal {
  position: relative;
  background-color: #070707;
  color: #c6c6c6;
  width: 100%;
  height: 100%;
}

.terminal * {
  font-family: inherit;
}

.outputText {
  color: #efefef;
}

.outputErr {
  color: #dd655f;
}

.promptBar {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
}

.history {
  height: 100%;
  overflow: scroll;
}

.promptBar,
.history > :last-child {
  height: 3rem;
}

.history > :last-child {
  padding-top: 0.5rem;
}
