.historyItem {
  border: solid 1px orange;
  padding: 0.8rem;
}

.historyCommand {
  border: solid 1px black;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.historyCommand > span {
  border: solid 1px red;
  padding: 0.05rem 0.2rem;
  white-space: pre;
}

.historyCommand > .arg {
  background: #ff000033;
  border-radius: 0.3rem;
}

.historyOutput {
  border: solid 1px green;
  width: fit-content;
}
