.historyItem {
  padding: 0.8rem;
}

.historyCommand {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.historyCommand > span {
  padding: 0.05rem 0.2rem;
  white-space: pre;
}

.historyCommand > .arg {
  background: #183477;
  border-radius: 0.3rem;
}

.historyOutput {
  background-color: #b1d4fd51;
  width: fit-content;
  padding: 0.6rem 1.4rem 0.6rem 1rem;
  margin-left: 1rem;
  border-radius: 0.4rem;
}
